<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/bootstrap.min.css" />
    <script src="~/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/plugins/jquery/jquery-3.7.0.min.js"></script>
    <title>@ViewBag.Title - Watermark</title>
</head>
<body>
    <div class="row">
        <div class="col">@Html.ActionLink("Home", "Index", "Home")</div>
        <div class="col">@Html.ActionLink("CreateQRCode", "CreateQRCode", "Home")</div>
        <div class="col">@Html.ActionLink("About", "About", "Home")</div>
        <div class="col">@Html.ActionLink("Contact", "Contact", "Home")</div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Watermark Image</p>
        </footer>
    </div>
</body>
</html>
