@model DemoWatermark_dotNET4dot8.Models.GenerateQRCodeModel

@{
    ViewData["Title"] = "CreateQRCode";
}
<style>
    .pos-center {
        margin: 0 auto;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-group {
        margin: 10px 0;
    }

    .box-qr {
        border: 1px solid #cdcdcd;
        border-radius: 10px;
        padding: 10px 0;
        margin: -5px;
    }
</style>

<h1>CreateQRCode</h1>

<div class="row">
    <div class="">
        <div class="form-group">
            <input type="text" id="myInput" class="form-control" />
        </div>
        <div class="form-group">
            <input value="Generate QR Code" class="btn btn-primary" onclick="generateQR('myInput')" />
        </div>

        <br />

        <h2>Import file and generate QR:</h2>
        <input type="file" id="myFile" name="file" />
        <button type="submit" class="btn btn-primary" onclick="uploadFiles('myFile');">Upload File & Gen QR</button>

        @if (ViewBag.listDisplay != null && ViewBag.listDisplay.Count > 0)
        {
            <div class="row" style="margin: 10px 0 0 0">
                @foreach (var item in ViewBag.listDisplay)
                {
                    <div class="col-lg-3 col-md-4 col-sm-12 box-qr">
                        <div class="container pos-center">
                            <div class="form-group">
                                <img src="@item.QRCodeUri" class="img-thumbnail" />
                            </div>
                        </div>
                        <div class="container pos-center">
                            <a id="download + @item.No" style="" download="qr-@item.No" href="@item.LinkDownload" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                }
            </div>
        }
        <div id="codeZone" class="container pos-center" style="visibility: hidden">
            <div class="form-group">
                <img id="codeImage" src="@ViewBag.QrCodeUri" class="img-thumbnail" />
            </div>
        </div>
        <div class="container pos-center">
            <a id="downloadCodeImage" href="@ViewBag.linkDownload" class="btn btn-primary">Download</a>
        </div>
    </div>
</div>

<script>

    //window.onload = function downloadImg() {
    //    document.getElementById("download").click();
    //};

    function pickAFile() {
        var fileName = document.getElementById('myFile').value.substr(12);
        console.log(fileName);
        $.ajax({
            type: "post",
            url: "/Home/PickAFile",
            data: {
                fileName: fileName
            },
            success: function (d) {
                console.log('Success!');
                console.log('path: ' + d)
            }
        });
    };

    function uploadFiles(inputId) {
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }

        $.ajax(
            {
                url: "/Home/UploadFileThenGenQR",
                data: {
                    file: formData
                },
                success: function () {
                    console.log('Generate QR from uploaded file successful!')
                }
            }
        );
    }

    function generateQR(inputId) {
        if (document.getElementById(inputId).value != null)
        {
            var stringCode = document.getElementById(inputId).value;
            console.log(stringCode);

            $.ajax({
                url: "/Home/CreateQRCode",
                data: {
                    stringCode: stringCode
                },
                success: function () {
                    document.getElementById("codeZone").style.visibility = "visible";
                    document.getElementById("codeImage").setAttribute("src", '@ViewBag.QrCodeUri');
                    console.log(document.getElementById("codeImage"));
                    document.getElementById("downloadCodeImage").setAttribute("href", '@ViewBag.linkDownload');
                    console.log(document.getElementById("downloadCodeImage"));
                    console.log("Generate QR successful!");
                },
                error: function () {
                    $("#loading").hide();
                    alert("Có lỗi xảy ra!");
                }
            });
        }
    }
</script>
